.flag {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -500px;
    z-index: 1;
    position: relative;
}
.cell.revealed.mine::before {
    background-position-y: 0;
    background-position-x: -600px;
}