#number1 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -100px;
    position: relative;
    visibility:hidden;
}
#number2 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number3 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number4 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number5 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number6 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number7 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number8 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number1sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number2sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number3sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number4sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number5sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number6sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number7sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#number8sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;
    position: relative;
    visibility: hidden;
}
#mineCounter-Sides{
   /* background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -100px;*/
}
.flag {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-position-x: -100px;
    background-color:white;
}
.mine {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-position-x: -100px;
    visibility: hidden;
}
.MineCounter-Sides{

}