/*revealed + chest+ numbers*/



/*���� �� ����� ������ ������ ���� ��� �� ���������� ��� ������� � �� �������� �����*/

#win {
    display: inline-block;
    position: fixed;
    top: 50vh;
    left: 50vw;
    background: #eee;
    width: 50vw;
    height: 25vh;
    margin-left: -25vw;
    margin-top: -12.5vh;
    text-align: center;
    line-height: 25vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 5;
}

    #win #text {
        font-size: 70px;
        text-align: center;
    }

    #win #message {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        text-align: center;
        color: #818181;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
    }
