/*revealed + chest + hover+*/
.cell.revealed::before {
    background-position-x: -400px;
    background-position-y: 0;
}

.cell.revealed.chest::before {
    background: url('assets/sprite.png'),url('assets/sprite.png');/*това се маха и се слагат кординати на празна клетка с елемента вътре(чакаме гошо)*/
    background-repeat: no-repeat;
    background-position-x: -480px,-400px;
    background-position-y: -80px,0;
}
.cell.revealed.radar::before {
    background: url('assets/sprite.png'),url('assets/sprite.png'); 
    background-repeat: no-repeat;
    background-position-x: -580px,-400px;
    background-position-y: -80px,0;
}
.cell.revealed.hearth::before {
    background: url('assets/sprite.png'),url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-x: -680px,-400px;
    background-position-y: -80px,0;
}
.cell.revealed.time::before {
    background: url('assets/sprite.png'),url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-x: -380px,-400px;
    background-position-y: -80px,0;
}
.cell.revealed.points::before {
    background: url('assets/sprite.png'),url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-x: 20px,-400px;
    background-position-y: -80px,0;
}

